<html>
    <head>
        <title>Sports Schedular Application</title>
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/css/styles.css" rel="stylesheet"/>
        <script>
            var token=document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content");
                function updateTodo(id, completed)
                {
                fetch(`/todos/${id}`,{
                    method :"put",
                    headers :{"Content-Type": "application/json"},
                    body:JSON.stringify({
                        _csrf:token,
                        completed: completed

                    })
                })
                .then((res) =>{
                    if(res.ok){
                        window.location.reload();
                    }
                })
                .catch((err)=>console.error(err));
            }
            function deleteSport(id) {
                fetch(`sports/${id}`, {
                    method: "delete",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "_csrf":token
                    })
                })
                .then((res)=> {
                    if(res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
                }
        </script>
    </head>
    <body class="font-bold">
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <svg class="absolute top-3 right-4 h-15 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                </svg>
                <a href="/signout" class="text-black font-bold text-2xl underline absolute top-2 right-10">Signout</a>
                <h3 class="text-3xl underline font-serif font-bold text-red-500 py-7">SPORTS  SCHEDULAR  APPLICATION</h3>
                <h3 class="text-1xl font-serif font-bold text-yellow-900">Hola! #<%= UserName %></h3>
                <p>*Click on your interested sport name to join the existing session or to create a new session*</p>
                <form action="/sports" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="Enter the Sport" class="border border-black-300 rounded text-black-900 w-full p-2 text-sm" required />
                        </div>
                        <div class="flex-none">
                            <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Create</button>
                        </div>
                    </div>
                </form>  
                <div>
                    <%- include('sports.ejs',{title: "=>  CREATED SPORTS    <= ", data: sports}) %>
                </div>
                <hr style="height:2px;border-width:0;color:black;background-color:black">
                <footer>
                    <br><b><u><a href="#">View Reports</a></u></b>
                </footer> 
            </div>
    </body>
</html>