<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sports Scheduler</title>
</head>
<body>
    <% if(messages && messages.error && messages.error.length> 0) { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
            <li>
                <%= messages.error[i] %>
            </li>
            <% } %>
                <% } %>
        <a href="/signout" class="text-red-900 text-sm px-2 py-1 absolute top-2 right-2">Signout</a>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <h1 class="text-xl font-serif text-black-600 mb-90">Cancel Session</h1>
                <form action="#" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="reason" placeholder="State the reason" class="border border-sky-900 rounded text-black-900 w-full p-2 text-sm" />
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>